.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: $m-size 0 $m-size 0;

        @media (max-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: column;
    }
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    color: $dark-grey;
    padding: $s-size;
    transition: background .3s ease;
    width: 30%;
    margin-bottom: $l-size;
    &:hover {
        background: $off-white;
    }
    @media (max-width: $desktop-breakpoint) {
        min-width: 100%;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
    text-align: center;
}

.list-item__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    max-width: 100%;
}

.list-item__data {
    display: flex;
    align-items: center;
}

.list-item__icon {
    margin-right: $s-size;
}

.list-item__text {
    color: $dark-grey;
    font-size: $font-size-large;
}
.list-item__buttons {
    display: flex;
    justify-content: space-between;
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__sport {
    background-color: $sport-color;
}

.list-item__science {
    background-color: $science-color;
}

.list-item__travel {
    background-color: $travel-color;
}

.list-item__music {
    background-color: $music-color;
}

.list-item__other {
    background-color: $other-color;
}